#fundo{
-webkit-transform: translateZ(-1px);
    transform: translateZ(-1px);


}
#garrafa {
	position: fixed;
	top:2500px;
	left:auto;%;
	-webkit-transform: translateZ(0);
    transform: translateZ(0);
    height: 40%;
}







.responsive {
    max-width: 100%;
    height: auto;
    padding: 0px;
}

body {
	margin: 0;
	padding: 0;
	font-family: ;
}

.caixa {
   position: relative;
   text-align: center;
   color: white;
} 

.titulo {
   width: 2200px;
   color: white;
   position: absolute;
   top: 78px;
   left: 205px;
   font-family: Roboto;
   font-weight: Bold;
   font-size: 338px;
   opacity: 1;
   text-align: left;

}
  
.subtitulo {
   width: 2003px;
   color: rgba(17,25,36,1);
    position: absolute;
   top: 896px;
   left: 205px;
   font-family: Roboto;
   font-weight: Medium;
   font-size: 120px;
   opacity: 1;
   text-align: left;
}

.conftextos h1 {
   color:white ;
   font-weight: 400;
   font-size: 128px;
   font-family: Roboto;
}

.texto1 {
   width: 1550px;
   position: absolute;
   top: 1708px;
   right: 205px;
   text-align: right;
}

.texto2 {
  width: 1550px;
  position: absolute;
  top: 2527px;
  left: 205px;
  text-align: left;
}

.texto3 {
   width: 1550px;
   position: absolute;
   top: 3508px;
   right: 205px;
   text-align: right;
}

.texto4 {
  width: 1550px;
  position: absolute;
  top: 4827px;
  left: 205px;
  text-align: left;
}  	

.texto5 {
   width: 1550px;
   position: absolute;
   top: 5808px;
   right: 205px;
   text-align: right;
} 	

.texto6 {
   width: auto;
   position: absolute;
   bottom: 0px;
   text-align: center;
   text-justify: center;
   margin: 50px;
} 	








